.individArticle{
	background-color: white;
	padding: 20px;
	margin: 20px;
}

#commentContainer{
	background-color: white;
	padding: 25px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


